<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="style.css">

</head>
<body>
    

        <!--         
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
         -->



        <div id="login-form-wrap" >

            <h2>Login</h2>
            <form id="login-form" action="/dashboard" method="post">
              <p>
              <input type="text" id="username" name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
              </p>
              <p>
              <input type="password" id="email" name="password" placeholder="Password" required><i class="validation"><span></span><span></span></i>
              </p>
              <p>
              <input type="submit" id="login" value="Login">
              </p>
            </form>

            <div id="create-account-wrap">
              <p>Un petit Message de  <a href="#">gentilesse</a>.<p>
            </div><!--create-account-wrap-->


        </div><!--login-form-wrap-->

</body>
</html>
